*{
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12pt;
    color: var(--text-color);
    text-align: center;
}

body {
    box-sizing:border-box;
    margin-top: 100px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image:url(images/pexels-photo-28380066.webp) ;
    background-position:initial;
    background-size: cover;
}

.title {
    font-size: 30px;
    text-align: center;
    text-decoration:underline overline #28e6ff;
    margin: 20px;
}

.move-icon {
    margin: 10px;
    padding: 10px;
    width: 80px;
    height: 80px;
    background-color: transparent;
}

.container {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    gap:50px;
}

#rock {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 120px;
    border-bottom: 3px solid #cd1db8;
    border-top: 3px solid #f485e9;
    border-right: 3px solid #390548;
    border-left: 3px solid #752675;
    box-shadow: 6px 6px 10px #760f75;
    background-color: transparent;
    animation: ani 10s linear infinite;
}

#paper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 120px;
    border-top: 3px solid #f485e9;;
    border-bottom: 3px solid #cd1db8;
    border-left: 3px solid #752675;
    border-right: 3px solid #390548;
    box-shadow: 6px 6px 10px #760f75;
    background-color: transparent;
    animation: ani 10s linear infinite;
}

#scissors {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 120px;
    border-left: 3px solid #752675;
    border-right: 3px solid #390548;
    border-top: 3px solid #f485e9;
    border-bottom: 3px solid #cd1db8;
    box-shadow: 6px 6px 10px #760f75;
    background-color: transparent;
    animation: ani 10s linear infinite;
}

#rock:hover, #paper:hover, #scissors:hover {
    animation:  shaking 2s infinite;
}

#resetBtn {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-bottom: 0px;
    background-color: transparent;
    border-style: none;
}

#resetBtn:hover {
    transition: 2s ease;
    transform: rotate(360deg);
}

#logout {
    width:9em;
    height: 3em;
    border-radius: 30em;
    font-weight: bold;
    font-family: inherit;
    border: none;
    position:absolute;
    top:0px;
    right: 5px;
    margin-top: 10px;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #760f75;
}

#logout::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position:absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #cba6ed 0%, #760f75 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}

#logout:hover::before {
    width: 9em;
    
    color: #fff;
}

.details {
    display: flex;
    flex-wrap: wrap;
}

#playerName {
    box-sizing: border-box;
    width:15em;
    height: 3em;
    border-radius: 30em;
    font-weight: bold;
    border: none;
    position:absolute;
    top:5px;
    left: 0;
    margin: 10px;
    padding: 10px;
    z-index: 1;
    align-items: flex-start;
}

#players {
    box-sizing: border-box;
    width:15em;
    height: 3em;
    border-radius: 30em;
    font-weight: bold;
    border: none;
    position:absolute;
    top:30px;
    left: 0;
    margin: 10px;
    padding: 10px;
    z-index: 1;
    align-items: flex-start;
    cursor: pointer;
}

#players:hover {
   opacity: 0.5;
}

#yourScore {
    box-sizing: border-box;
    width:15em;
    height: 3em;
    border-radius: 30em;
    font-weight: bold;
    border: none;
    position:absolute;
    top:60px;
    left: 0;
    margin: 10px;
    padding: 10px;
    z-index: 1;
    align-items: flex-start;
    cursor: pointer;
}

#yourScore:hover {
   opacity: 0.5;
}

.resultArea {
    display: grid;
    justify-content: space-evenly;
    position: relative;
    margin-top: 0;
    flex-grow: 1;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    color: color-mix(in hsl shorter hue, #390548 percentage, #8b21a9  percentage);
}

.score, .choice, .result {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes ani {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform:matrix3d(360deg)
    }
}

@keyframes shaking {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(5px, 5px) rotate(5deg); }
    50% { transform: translate(0, 0) rotate(0eg); }
    75% { transform: translate(-5px, 5px) rotate(-5deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
  }

  @media(max-width: 700px) {
    body{
        background-size:initial;
    }
    .container{
        width: min(600px, 100%);
        border-radius: 0;
    }

} 

